
/* DESKTOP NAV */
.container {
    background-color: white;
    font-size: 23px;
    font-family: Helvetica, sans-serif;
    height: 64px;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: auto;
  }

  .container .navbar {
    justify-content: space-between;
  }

  .navbar ul {
    display: flex;
  }

  .navbar ul li {
    list-style-type: none;
    margin-right: 24px;
  }

  .navbar a {
    text-decoration: none;
    gap: 16px;
    color: #49524C;
  }

  .logo {
    margin-left: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .title strong {
    font-family: Helvetica, sans serif;
    color: #49524C;
    font-weight: bold;
    font-size: 32px;
  }

  .title span {
    font-family: Helvetica, sans-serif;
    color: grey;
    font-size: 32px;
  }
  

/* MOBILE NAV */

@media only screen and (min-width: 769px) {

  .mobile-nav .mobile-links {
      display: none;
  }
}
 
@media only screen and (min-width: 200px) and (max-width: 770px) {
  .navbar {
      display: none;
  }

  .mobile-nav {
      display: flex;
      flex-direction: column;
  }

  .mobile-nav .mobile-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}




/* LEARN SOMETHING SECTION */

.learn-something {
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-right: 1px solid lightgrey;
    width: 100%;
}

.heading-image  {
    width:60%;
    margin-left: 24px;
    margin-right: 24px;
}

.learn-image {
    width: 100%;
    margin-top: 32px;
    margin-bottom: 32px;
}

.heading-right  {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.right--heading-text {
    display: flex;
    flex-direction: column;
    
 }

.right--heading-text h1{
    width: 100%;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: #49524C;
}

.right--heading-text p {
    width:80%;
    margin-top: -20px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: #49524C;
    font-size: 20px;
}

.right--heading-text .heading-button {
    margin-top: 15px;
    height: 50px;
    width: 80%;
    background-color: #49524C;
    border: none;
    font-family: Helvetica, sans-serif;
}

.heading-button a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
}

/* Practicing Section */

.practicing-section {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.keep-practicing {
    flex-direction: column;
    width: 60%;
    margin-left: 24px;
}

.practice-image {
    width: 100%;
    margin-top: 32px;
}

.practicing--bottom-text {
    width 60%;
    padding-top: -32px;
    padding-bottom: 24px;
}
.practicing--bottom-text h2 {
    font-size: 45px;
    font-family: Helvetica, sans-serif;
    color:  #49524C;
}

.practicing--bottom-text h3 {
    font-weight: 100;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    color:  #49524C;
}

.practicing--bottom-text p {
   margin-top: 30px;
   font-size: 14px;
   font-family: Helvetica, sans-serif;
   font-weight: 100;
   color: #49524C;
}

/* RIGHT SIDE OF PRACTICE SECTION */

.three-boxes-right {
    width: 40%;
    flex-direction: column;
    margin-left: 24px;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    background-color: white;
}

.right-column {
   display: flex;
   flex-direction: row;
   align-items: center;
   border-bottom: 3px double lightgrey;
}

.right-column-bottom {
  display: flex;
   flex-direction: row;
   align-items: center;
   background-color: lightgrey;
}

.right-column img, .right-column-bottom img {
   padding: 16px;
   width: 35%;
   height: auto;
}

.text {
    width: 64%;
}

.text h3 {
  font-size: 28px;
  font-family: Helvetica, sans serif;
  color: #49524C;
  font-weight: lighter;
}

.text p {
  margin-top: -20px;
  font-size: 16px;
  font-family: Helvetica, sans serif;
  color: #49524C;
}

.text a {
  font-size: 14px;
  font-family: Helvetica, sans serif;
  color: blue;
  text-decoration: none;
}
