/* SHARED RULES */

h1{
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: #4a4a4a;
}

h3 {
  font-size: 28px;
  font-family: Helvetica, sans serif;
  color: #4a4a4a;
  font-weight: lighter;
}

p {
  font-weight: 100;
   font-size: 16px;
  font-family: Helvetica, sans serif;
  line-height: 1.5;
  color: #4a4a4a;
}

h2 {
  font-size: 45px;
  font-family: Helvetica, sans-serif;
  color: #44a4a4a;
}

/* DESKTOP NAV */
.container {
    background-color: white;
    font-size: 23px;
    font-family: Helvetica, sans-serif;
    height: 64px;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: auto;
  }

  .container .navbar {
    justify-content: space-between;
  }

  .navbar ul {
    display: flex;
  }

  .navbar ul li {
    list-style-type: none;
    margin-right: 24px;
  }

  .navbar a {
    text-decoration: none;
    gap: 16px;
    color: #4a4a4a;
  }

  .logo {
    margin-left: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .title strong {
    font-family: Helvetica, sans serif;
    color: #4a4a4a;
    font-weight: bold;
    font-size: 32px;
  }

  .title span {
    font-family: Helvetica, sans-serif;
    color: #9b9b9b;
    font-size: 32px;
  }
  

/* MOBILE NAV */

@media only screen and (min-width: 769px) {

  .mobile-nav .mobile-links {
      display: none;
  }
}
 
@media only screen and (min-width: 200px) and (max-width: 770px) {
  .navbar {
      display: none;
  }

  .mobile-nav {
      display: flex;
      flex-direction: column;
      height: 40px;
  }

  .mobile-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -30px;
  }
  
  .mobile-links img {
    height: 150%;
    width: 150%;
  }
}


/* LEARN SOMETHING SECTION DESKTOP*/

.learn-something {
    background-color: #d8d8d8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-right: 1px solid lightgrey;
    width: 100%;
}

.heading-image  {
    width:60%;
    margin-left: 24px;
    margin-right: 24px;
}

.learn-image {
    width: 100%;
    margin-top: 32px;
    margin-bottom: 32px;
}

.heading-right  {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.right--heading-text {
    display: flex;
    flex-direction: column;
    
 }

.right--heading-text p {
    width:80%;
    margin-top: -20px;
    font-weight: bold;
    font-size: 20px;
}

.right--heading-text .heading-button {
    margin-top: 15px;
    height: 50px;
    width: 80%;
    background-color: #4a4a4a;
    border: none;
    font-family: Helvetica, sans-serif;
}

.heading-button a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
}

/* LEARN SOMETHING SECTION Mobile*/
@media only screen and (min-width: 200px) and (max-width: 770px) {
  .learn-something {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .heading-image {
    width: 100%;
  }

  .right--heading-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 200%;
    margin: -32px 16px 32px 16px;
  }

  .right--heading-text h1{
   text-align: center;
  }
  .right--heading-text p {
    text-align: center;
    margin-left: 35px;
  }

  .right--heading-text button {
    margin-left: 35px;
  }
}

/* Practicing Section */

.practicing-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #f3f5f5;
}

.keep-practicing {
    flex-direction: column;
    width: 60%;
    margin-left: 24px;
}

.practice-image {
    width: 100%;
    margin-top: 32px;
}

.practicing--bottom-text {
    width 60%;
    padding-top: -32px;
    padding-bottom: 24px;
}

.practicing--bottom-text h3 {
    font-weight: 100;
    font-size: 18px;
}

.practicing--bottom-text p {
   margin-top: 30px;
}

/* RIGHT SIDE OF PRACTICE SECTION */

.three-boxes-right {
    width: 40%;
    flex-direction: column;
    margin-left: 24px;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    background-color: #f3f5f5;
}

.right-column {
   display: flex;
   flex-direction: row;
   align-items: center;
   border-bottom: 3px double lightgrey;
}

.right-column-bottom {
  display: flex;
   flex-direction: row;
   align-items: center;
   background-color: #d8d8d8;
}

.right-column img, .right-column-bottom img {
   padding: 16px;
   width: 35%;
   height: auto;
}

.text {
    width: 64%;
}

.text p {
  margin-top: -20px;
}

.text a {
  font-size: 14px;
  font-family: Helvetica, sans serif;
  color: blue;
  text-decoration: none;
}

/* START LEARNING SECTION */

.start-learning {
  background-color: #eaebec;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-learning h1 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.classes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 72px;
  margin-right: 72px;
  justify-content: center;
   width: 100%;
}


.classes-card{
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  margin-left: 32px;
  margin-bottom: 32px;
  width: 25%;
  height: 430px;
  background-color: white;
}

.classes-word-content{
  background-color: white;
  padding: 20px 16px 24px 16px;
}

.classes-card img {
  height: auto;
  width: 100%;
}

/* THESIS SECTION */

.exhibit-section  h1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.left-right-columns {
  display: flex;
  flex-direction: row;
}

.left-side-video {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-left: 24px;
  padding-bottom: 24px;
  padding-right: 24px;
}

.exhibit--right-column {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 24px;
}

.exhibit-block, .exhibit-block-top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.exhibit-block img, .exhibit-block-top img{
  padding: 16px;
  width: 35%;
  height: auto;
}

.exhibit-block-top {
  background-color: #d8d8d8;
}

.video-text h2 {
  font-size: 30px;
}

/* FOOTER */

.bottom-info {
  display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: auto;
    justify-content: space-between;
}

.terms-privacy {
  margin-right: 24px;
}
.terms-privacy a {
  font-size: 14px;
  text-decoration: none;
  color: grey;
}

